LZW/prevProg
archive/
qwe/
unpack/
Firefox_wallpaper.png
PDF.pdf
picture.jpeg
text1.txt
text2.txt
text6.txt
LZW/lzw.o
LZW/lzwFunc.o
LZ77/lz77.o
LZ77/lz77Func.o
main/func.o
main/func.o
hofman/hofman.o
hofman/hofmanFunc.o
hofmanArchiver
lz77Archiver
lzwArchiver
archiver